<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manhwa Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

<div class="container">
    <h1>Today's Manhwa Chapters</h1>

    {% for chapter in todays_chapters %}
        <div class="chapter">
            <h2>{{ chapter['title'] }}</h2>
            <p>Chapter: {{ chapter['chapternum'] }}</p>
            <p>Date: {{ chapter['chapterdate'] }}</p>
            <a href="{{ chapter['link'] }}">Read Chapter</a>
        </div>
    {% endfor %}
</div>

</body>
</html>
